[mysqld]
character_set_server = utf8mb4
collation-server = utf8mb4_0900_bin

# mysqlオプションの設定
[mysql]
# 文字コードの設定
default-character-set = utf8mb4

# mysqlクライアントツールの設定
[client]
# 文字コードの設定
default-character-set = utf8mb4
